{% extends "dashboard_template.html" %}

{% block content %}
<style>
    .container{
        width: 100%;
        max-width: 100%;
    }

    .layer{
        margin-bottom: 10px;
    }

    .first-layer{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .second-layer{
        display: flex;
    }

    .all-card{
        border-radius: 7px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .card{
        width: calc(100% - (60px + 10px));
        margin-right: 10px;
        padding: 0px;
    }

    .card: first-child{
        margin-left: 10px;
    }

    .chart-card{
        height: 100%;
        width: 65%;
        height: 500px;
        background-color: white;
        margin-right: 15px;
    }

    .chart{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .card-text{
        padding: 10px;
    }

    .chart-container{
        height: 80%;
    }

    #chart{
        width: 100%;
        height: 100%;
    }

    .stat-card{
        width: 35%;
        margin-right: 10px;
    }

    .order-history{
        width: calc(100% - 10px);
        height: 400px;
    }
</style>

<div class="container">
    <div class="first-layer layer">
        <div class="pnl-card card all-card">
            <div class="chart-text">
                <h4><b>7d PnL</b></h4>
            </div>
            <div id="chart"></div>

        </div>
        <div class="card all-card">
            <div class="chart-text">
                <h4><b>7d PnL</b></h4>
            </div>
            <div class="chart">
            </div>
        </div>
        <div class="card all-card">
            <div class="chart-text">
                <h4><b>7d PnL</b></h4>
            </div>
            <div class="chart">
                <img src="img_avatar.png" alt="Avatar" style="width:100%">
            </div>
        </div>
    </div>


    <div class="second-layer layer">
        <div class="chart-card all-card">
            <div class="card-text">
                <h4><b>Equity Growth</b></h4>
            </div>
            <div class="chart">
                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="stat-card all-card">
            <div class="card-text">
                <h4><b>Statistics</b></h4>

            </div>
        </div>
    </div>

    <div class="third-layer layer">
        <div class="order-history all-card">
            <div class="card-text">
                <h4><b>History Table</b></h4>
            </div>

        </div>
    </div>
</div>


<!-- Scripting Area -->
<script>
    // EQUITY GROWTH CHART
    const ctx = document.getElementById('myChart')
    const today = new Date();
    const currentMonth = today.getMonth() + 1;
    const months = ['January', 'February', 'March',
        'April', 'May', 'June', 'July', 'August',
        'September', 'August', 'September', 'October',
        'November', 'December'];

    const labels = [];
    for (let i = 0; i < 3; i++) {
        const monthIndex = (currentMonth - i + 12) % 12; // Handling wraparound for previous year
        labels.unshift(months[monthIndex]);
    }

    new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: '',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
        //maintainAspectRatio: false,
        scales: {
            x: {
                grid: {
                    display: false //Hides grid lines on x-axis
                }
            },
            y: {
                grid: {
                    display: false
                }
            }
        }
    }
  });
</script>


{% endblock %}